<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Demande</servlet-name>
    <servlet-class>com.disp.servlets.Demande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demande</servlet-name>
    <url-pattern>/demande</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.disp.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.disp.servlets.Inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDemande</servlet-name>
    <servlet-class>com.disp.servlets.GetDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDemande</servlet-name>
    <url-pattern>/liste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ordremission</servlet-name>
    <servlet-class>com.disp.servlets.OrdreMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ordremission</servlet-name>
    <url-pattern>/ordremission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.disp.servlets.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuCitoyen</servlet-name>
    <servlet-class>com.disp.servlets.MenuCitoyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuCitoyen</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginMairie</servlet-name>
    <servlet-class>com.disp.servlets.LoginMairie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMairie</servlet-name>
    <url-pattern>/loginSoyau</url-pattern>
  </servlet-mapping>
</web-app>